USE [master]
GO
/****** Object:  Database [HuyThongDiaryDB]    Script Date: 9/11/2018 11:10:34 AM ******/
CREATE DATABASE [HuyThongDiaryDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HuyThongDiaryDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\HuyThongDiaryDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HuyThongDiaryDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\HuyThongDiaryDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HuyThongDiaryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HuyThongDiaryDB]
GO
USE [HuyThongDiaryDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 9/11/2018 11:10:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 9/11/2018 11:10:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Disable] [bit] NULL,
 CONSTRAINT [PK_TblDevice] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 9/11/2018 11:10:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Phone] [varchar](15) NULL,
	[Description] [nvarchar](250) NULL,
	[Address] [nvarchar](250) NULL,
	[Disable] [bit] NULL,
 CONSTRAINT [PK_TblCustomer] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetailPrice]    Script Date: 9/11/2018 11:10:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetailPrice](
	[DetailPriceID] [int] IDENTITY(1,1) NOT NULL,
	[TransactionID] [int] NULL,
	[Description] [nvarchar](1000) NULL,
	[Price] [float] NULL,
 CONSTRAINT [PK_TblDetailPrice] PRIMARY KEY CLUSTERED 
(
	[DetailPriceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 9/11/2018 11:10:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Description] [nvarchar](max) NULL,
	[Amount] [int] NULL,
	[Seller] [nvarchar](50) NULL,
	[Address] [nvarchar](250) NULL,
	[Phone] [varchar](15) NULL,
	[BuyPrice] [float] NULL,
	[SellPrice] [float] NULL,
	[BuyDate] [datetime] NULL,
	[Type] [int] NULL,
	[Disable] [bit] NULL,
 CONSTRAINT [PK_TblProduct] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductHistory]    Script Date: 9/11/2018 11:10:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductHistory](
	[HistoryId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Amount] [int] NOT NULL,
	[SellDate] [datetime] NOT NULL,
	[SellPrice] [float] NULL,
 CONSTRAINT [PK_RepositoryHistory] PRIMARY KEY CLUSTERED 
(
	[HistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductType]    Script Date: 9/11/2018 11:10:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductType](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Disable] [bit] NULL,
 CONSTRAINT [PK_TblProductType] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 9/11/2018 11:10:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToDo]    Script Date: 9/11/2018 11:10:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToDo](
	[ToDoID] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[Title] [nvarchar](250) NULL,
	[RemindTime] [datetime] NULL,
	[Priority] [int] NULL,
	[Disable] [bit] NULL,
 CONSTRAINT [PK_TblToDo] PRIMARY KEY CLUSTERED 
(
	[ToDoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 9/11/2018 11:10:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[StatusID] [int] NULL,
	[Price] [float] NULL,
	[RecievedDate] [datetime] NULL,
	[DeliverDate] [datetime] NULL,
	[TypeID] [int] NULL,
	[Error] [nvarchar](max) NULL,
	[Delivered] [bit] NULL,
	[Description] [nvarchar](500) NULL,
	[Reason] [nvarchar](500) NULL,
 CONSTRAINT [PK_TblTransaction] PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionStatus]    Script Date: 9/11/2018 11:10:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionStatus](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
 CONSTRAINT [PK_TblTransactionStatus] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 9/11/2018 11:10:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/11/2018 11:10:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[ActivationCode] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [Name], [Disable]) VALUES (1, N'laptop', NULL)
INSERT [dbo].[Category] ([CategoryID], [Name], [Disable]) VALUES (2, N'phone', NULL)
INSERT [dbo].[Category] ([CategoryID], [Name], [Disable]) VALUES (3, N'computer', NULL)
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerID], [Name], [Phone], [Description], [Address], [Disable]) VALUES (1, N'Beatrice', N'276270113', N'neque. In ornare sagittis felis. Donec tempor, est', N'924-4142 Ultrices Road', 0)
INSERT [dbo].[Customer] ([CustomerID], [Name], [Phone], [Description], [Address], [Disable]) VALUES (2, N'Julie', N'398983263', N'lectus ante dictum mi, ac mattis velit', N'8217 Nec, Rd.', 0)
INSERT [dbo].[Customer] ([CustomerID], [Name], [Phone], [Description], [Address], [Disable]) VALUES (3, N'Ishmael', N'435948968', N'dis parturient montes, nascetur ridiculus mus. Proin', N'9070 Imperdiet Rd.', 0)
GO
SET IDENTITY_INSERT [dbo].[Customer] OFF
SET IDENTITY_INSERT [dbo].[DetailPrice] ON 

INSERT [dbo].[DetailPrice] ([DetailPriceID], [TransactionID], [Description], [Price]) VALUES (1, 158, N'eget odio. Aliquam vulputate ullamcorper magna.', 162)
INSERT [dbo].[DetailPrice] ([DetailPriceID], [TransactionID], [Description], [Price]) VALUES (2, 42, N'gravida non, sollicitudin a, malesuada id,', 116)
INSERT [dbo].[DetailPrice] ([DetailPriceID], [TransactionID], [Description], [Price]) VALUES (3, 146, N'ut, pharetra sed, hendrerit a, arcu. Sed et libero. Proin mi. Aliquam gravida', 359)
GO
SET IDENTITY_INSERT [dbo].[DetailPrice] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Amount], [Seller], [Address], [Phone], [BuyPrice], [SellPrice], [BuyDate], [Type], [Disable]) VALUES (1, N'neque', N'Curabitur consequat, lectus sit amet luctus vulputate, nisi sem semper erat, in consectetuer ipsum', 61, N'Irene', N'484-869 Nullam St.', N'0602127465', 199, 447, CAST(N'2017-07-09T00:00:00.000' AS DateTime), 2, NULL)
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Amount], [Seller], [Address], [Phone], [BuyPrice], [SellPrice], [BuyDate], [Type], [Disable]) VALUES (2, N'sed,', N'sit amet, risus. Donec nibh enim, gravida sit amet, dapibus id, blandit at, nisi. Cum sociis natoque penatibus et', 66, N'Hop', N'745-9439 Luctus Road', N'0645265451', 155, 328, CAST(N'2017-11-11T00:00:00.000' AS DateTime), 8, NULL)
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Amount], [Seller], [Address], [Phone], [BuyPrice], [SellPrice], [BuyDate], [Type], [Disable]) VALUES (3, N'venenatis', N'dapibus gravida. Aliquam tincidunt, nunc ac mattis ornare, lectus ante dictum', 96, N'Orson', N'P.O. Box 368, 7091 Aliquam Av.', N'0777685513', 132, 378, CAST(N'2017-08-05T00:00:00.000' AS DateTime), 8, NULL)
GO
SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[ProductType] ON 

INSERT [dbo].[ProductType] ([TypeID], [Name], [Disable]) VALUES (1, N'computer', NULL)
INSERT [dbo].[ProductType] ([TypeID], [Name], [Disable]) VALUES (2, N'screen', NULL)
INSERT [dbo].[ProductType] ([TypeID], [Name], [Disable]) VALUES (3, N'mouse', NULL)
SET IDENTITY_INSERT [dbo].[ProductType] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (1, N'User')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (2, N'Admin')
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[ToDo] ON 

INSERT [dbo].[ToDo] ([ToDoID], [Content], [Title], [RemindTime], [Priority], [Disable]) VALUES (1, N'ante, iaculis nec, eleifend non, dapibus rutrum, justo. Praesent luctus. Curabitur egestas nunc sed libero. Proin sed turpis nec mauris blandit mattis. Cras eget', N'tellus. Aenean egestas hendrerit neque. In ornare sagittis', CAST(N'2017-12-05T00:00:00.000' AS DateTime), 5, 0)
INSERT [dbo].[ToDo] ([ToDoID], [Content], [Title], [RemindTime], [Priority], [Disable]) VALUES (2, N'libero. Integer in magna. Phasellus dolor elit, pellentesque a, facilisis non, bibendum sed, est. Nunc laoreet lectus quis massa. Mauris vestibulum, neque sed dictum eleifend, nunc risus varius orci, in consequat enim diam vel arcu. Curabitur ut odio vel est tempor bibendum. Donec felis', N'ad litora torquent per conubia nostra, per inceptos', CAST(N'2018-11-01T00:00:00.000' AS DateTime), 4, 1)
INSERT [dbo].[ToDo] ([ToDoID], [Content], [Title], [RemindTime], [Priority], [Disable]) VALUES (3, N'lectus sit amet luctus vulputate, nisi sem semper erat, in consectetuer ipsum nunc id enim. Curabitur massa. Vestibulum accumsan neque et nunc. Quisque ornare tortor at risus. Nunc ac sem ut dolor dapibus gravida. Aliquam tincidunt, nunc ac mattis ornare, lectus ante dictum mi, ac mattis', N'sapien. Nunc pulvinar arcu et', CAST(N'2018-05-22T00:00:00.000' AS DateTime), 2, 1)
GO
SET IDENTITY_INSERT [dbo].[ToDo] OFF
SET IDENTITY_INSERT [dbo].[Transaction] ON 

INSERT [dbo].[Transaction] ([TransactionID], [CustomerID], [StatusID], [Price], [RecievedDate], [DeliverDate], [TypeID], [Error], [Delivered], [Description], [Reason]) VALUES (1, 48, 2, 79, CAST(N'2017-05-21T00:00:00.000' AS DateTime), CAST(N'2018-05-14T00:00:00.000' AS DateTime), 6, N'in sodales elit erat vitae risus. Duis a mi fringilla mi lacinia mattis. Integer eu lacus. Quisque imperdiet, erat nonummy', 0, N'rutrum magna. Cras', NULL)
INSERT [dbo].[Transaction] ([TransactionID], [CustomerID], [StatusID], [Price], [RecievedDate], [DeliverDate], [TypeID], [Error], [Delivered], [Description], [Reason]) VALUES (2, 56, 1, 188, CAST(N'2017-08-13T00:00:00.000' AS DateTime), CAST(N'2018-05-24T00:00:00.000' AS DateTime), 8, N'Curae; Phasellus ornare. Fusce mollis. Duis sit amet diam eu dolor egestas rhoncus. Proin nisl', 1, N'Duis elementum, dui quis accumsan', NULL)
INSERT [dbo].[Transaction] ([TransactionID], [CustomerID], [StatusID], [Price], [RecievedDate], [DeliverDate], [TypeID], [Error], [Delivered], [Description], [Reason]) VALUES (3, 89, 3, 168, CAST(N'2017-09-02T00:00:00.000' AS DateTime), CAST(N'2018-04-01T00:00:00.000' AS DateTime), 3, N'ultricies dignissim lacus. Aliquam rutrum lorem ac risus. Morbi metus. Vivamus euismod urna. Nullam lobortis quam a', 1, N'pede. Nunc sed orci lobortis', NULL)
GO
SET IDENTITY_INSERT [dbo].[Transaction] OFF
SET IDENTITY_INSERT [dbo].[TransactionStatus] ON 

INSERT [dbo].[TransactionStatus] ([StatusID], [Name]) VALUES (1, N'NotFix')
INSERT [dbo].[TransactionStatus] ([StatusID], [Name]) VALUES (2, N'Fixed')
INSERT [dbo].[TransactionStatus] ([StatusID], [Name]) VALUES (3, N'CannotFix')
SET IDENTITY_INSERT [dbo].[TransactionStatus] OFF
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (20, 1)
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [FirstName], [LastName], [Email], [Password], [IsActive], [ActivationCode]) VALUES (20, N'datdat', N'Ngoc', N'Nguyen', N'datttse62330@fpt.edu.vn', N'tiendat', 1, N'6b0a7155-b0d7-43f3-9c99-69ab05d44d9a')
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Index [IX_RoleId]    Script Date: 9/11/2018 11:10:35 AM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[UserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 9/11/2018 11:10:35 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[UserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF_TblCustomer_Disable]  DEFAULT ((0)) FOR [Disable]
GO
ALTER TABLE [dbo].[DetailPrice]  WITH CHECK ADD  CONSTRAINT [FK_TblDetailPrice_TblTransaction] FOREIGN KEY([TransactionID])
REFERENCES [dbo].[Transaction] ([TransactionID])
GO
ALTER TABLE [dbo].[DetailPrice] CHECK CONSTRAINT [FK_TblDetailPrice_TblTransaction]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_TblProduct_TblProductType] FOREIGN KEY([Type])
REFERENCES [dbo].[ProductType] ([TypeID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_TblProduct_TblProductType]
GO
ALTER TABLE [dbo].[ProductHistory]  WITH CHECK ADD  CONSTRAINT [FK_RepositoryHistory_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[ProductHistory] CHECK CONSTRAINT [FK_RepositoryHistory_Product]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_TblTransaction_TblCustomer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_TblTransaction_TblCustomer]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_TblTransaction_TblDevice] FOREIGN KEY([TypeID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_TblTransaction_TblDevice]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_TblTransaction_TblTransactionStatus] FOREIGN KEY([StatusID])
REFERENCES [dbo].[TransactionStatus] ([StatusID])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_TblTransaction_TblTransactionStatus]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRoles_dbo.Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_dbo.UserRoles_dbo.Roles_RoleId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRoles_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_dbo.UserRoles_dbo.Users_UserId]
GO
USE [master]
GO
